<!DOCTYPE html>
<html>
<head><title>Logging out...</title></head>
<body>
<script type="module">
import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js';
import { getAuth, signOut } from 'https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js';

const app = initializeApp({
  apiKey: "AIzaSyBJdIg9Dn_ruSLGlX7xl0IJ23T_35wnf1Q",
  authDomain: "petersonpredicts.firebaseapp.com",
  projectId: "petersonpredicts"
});

signOut(getAuth(app)).then(() => window.location.href = '/login');
</script>
</body>
</html>